<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work</title>
    <style>
        div{
        position:absolute;
        right:10px;
        top:5px;
        }
    </style>
</head>
<body>
<div>
<button type="button" onclick="location.href='{% url 'log' %}' ">Logout</button>
    </div>
<h2>Check Daily Check Report</h2>
Welcome {{name}}
<br><br>
Data :{{d}}
<br>
Work : {{w}}
<br>
Progress : {{ p }}

<br>
<br>
<h4>Image Output:c</h4>
<img src="{{ url }}" width="100px" height="100px">
<br>
</body>
</html>