<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work</title>
    <style>
     body{
            background-image: url(https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
        }
        div{
        position:absolute;
         background-color: white;
        right:10px;
        top:5px;
        }
        h2{
        position:absolute;
        right:10px;
        top:5px;
        }
        p{
        position:absolute;
        right:10px;
        top:5px;
        }
    </style>
</head>
<body>
<div>
<button type="button" onclick="location.href='{% url 'log' %}' ">Logout</button>
    </div>
<h2>Check Daily Check Report Here Only</h2>
Welcome {{name}}
<br><br>
Data :{{d}}
<br>
Work : <p>Work Assigned to you was : {{w}}</p>
<br>
Progress : Your Daily Progress is : {{ p }}

<br>
<br>
<h4>Image Output:c</h4>
<img src="{{ url }}" width="100px" height="100px">
<br>
</body>
</html>
